<div *ngIf="(auth$ | async)?.user">
  <md-nav-list>
    <h3 md-subheader>项目</h3>
    <md-list-item [routerLink]="['/projects']" (click)="handleClicked($event)">
      <md-icon md-list-icon svgIcon="projects"></md-icon>
      <span md-line>项目首页</span>
      <span md-line md-subheader> 查看您参与的全部项目 </span>
    </md-list-item>  
    <md-list-item *ngFor="let prj of projects$ | async" (click)="handlePrjClicked($event, prj)">
      <md-icon md-list-icon svgIcon="project"></md-icon>
      <a md-line>
        {{prj.name}}
      </a>
      <span md-line md-subheader> {{prj.desc}} </span>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>日历</h3>
    <md-list-item [routerLink]="['/mycal/month']" (click)="handleClicked($event)">
      <md-icon md-list-icon svgIcon="month"></md-icon>
      <span md-line>月视图</span>
      <span md-line md-subheader> 按月方式查看事件 </span>
    </md-list-item>
    <md-list-item [routerLink]="['/mycal/week']" (click)="handleClicked($event)">
      <md-icon md-list-icon svgIcon="week"></md-icon>
      <span md-line>星期视图</span>
      <span md-line md-subheader> 按星期方式查看事件 </span>
    </md-list-item>
    <md-list-item [routerLink]="['/mycal/day']" (click)="handleClicked($event)">
      <md-icon md-list-icon [svgIcon]="today"></md-icon>
      <span md-line>当日视图</span>
      <span md-line md-subheader> 按天方式查看事件 </span>
    </md-list-item>
  </md-nav-list>
</div>