<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <h3 md-dialog-title>{{dialogTitle}}</h3>
  <div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="项目名称" formControlName="name">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="项目简介（选填）" formControlName="desc">
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">保存</button>
    <button md-dialog-close md-raised-button type="button">关闭</button>
  </div>
</form>
