.full-width {
  width: 100%;
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card {
  width: 20rem;
  flex: 1 1 auto;
}

.text-center{
  margin: 10px;
  text-align: center;
}

.thumbnail{
  width: 80px;
}

.scroll-container {
  overflow-y: scroll;
  height: 200px;
}