<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <md-card class="card">
    <md-card-header>
      <md-card-title> 注册：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput placeholder="起个与众不同的用户名" formControlName="username">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的名字" formControlName="name">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码" formControlName="password">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="为避免失误请再次输入" formControlName="repeat">
      </md-input-container>
      <button md-raised-button type="submit" [disabled]="!form.valid">注册</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>已有账户？ <a routerLink="/login">登录</a></p>
      <p>忘记 <a routerLink="/forgot">密码？</a></p>
    </md-card-actions>
  </md-card>
</form>