.card {
  width: 600px;
  margin: 15px;
  height: 100%;
}

.text-right {
  margin: 10px;
  text-align: end;
}

.control-padding{
  margin-top: 10px;
  padding-top: 10px;
}

.action-area {
  display: flex;
}
