<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <md-card class="card">
    <md-tab-group dynamicHeight="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">
      <md-tab label="帐号信息">
        <md-input-container class="full-width">
          <input mdInput placeholder="电子邮件" formControlName="email">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="您的名字" formControlName="name">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="您的密码" formControlName="password">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="为避免失误请再次输入" formControlName="repeat">
        </md-input-container>
        <app-image-list-select
          [useSvgIcon]="true"
          [cols]="6"
          [title]="'选择头像：'"
          [items]="avatars$ | async"
          formControlName="avatar">
        </app-image-list-select>
        <button md-raised-button type="button" (click)="nextTab()">下一步</button>
        <p>已有账户？ <a routerLink="/login">登录</a></p>
        <p>忘记 <a routerLink="/forgot">密码？</a></p>
      </md-tab>
      <md-tab label="个人信息">
        <app-indentity-input formControlName="identity" class="full-width control-padding">
        </app-indentity-input>
        <div class="full-width control-padding">
          <app-age-input formControlName="dateOfBirth"></app-age-input>
        </div>
        <div class="full-width control-padding">
          <app-area-list formControlName="address"></app-area-list>
        </div>
        <button md-raised-button type="button" (click)="prevTab()">上一步</button>
        <button md-raised-button type="submit" [disabled]="!form.valid">注册</button>
        <p>已有账户？ <a routerLink="/login">登录</a></p>
        <p>忘记 <a routerLink="/forgot">密码？</a></p>
      </md-tab>
    </md-tab-group>
  </md-card>
</form>
