.form {
  margin: 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 400px;
}

.text-right {
  margin: 10px;
  text-align: end;
}

.control-padding{
  margin-top: 10px;
  padding-top: 10px;
}
