.projects {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project{
  width: 20rem;
}

.card {
  width: 10rem;
  flex: 1 1 auto;
}

.text-right{
  margin: 10px;
  text-align: end;
}