<div class="container mt-5">
  <div class="row">
    <div class="col-md-3" *ngFor="let project of (projects$ | async)">
      <div class="card mb-3" (click)="selectProject(project)">
        <img class="card-img-top" src="/assets/img/prj_cover_02.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">{{project.desc}}</p>
        </div>
      </div>
    </div> 
    <div class="col-md-3">
      <div class="card default-color text-center z-depth-2" (click)="addProject()">
        <img class="card-img-top" src="/assets/img/prj_cover_01.jpg" alt="Card image cap">
        <div class="card-block">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-new-project">
            新增项目
          </button>
        </div>
      </div>
    </div>
  </div>
</div> 

<!-- Modal Login -->
<div class="modal fade modal-ext" id="modal-new-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <app-new-project></app-new-project>
</div>