.projects {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}

.card {
  flex: 1 1 320px;
  margin-right: 10px;
}

.fab-button{
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}
