<div class="task-lists-navigation">
  <div class="task-lists-navigation-menu-container" (click)="handleSideNav(0)" [ngClass]="{'task-lists-navigation-opened': currentNavIndex === 0}">
    <mat-icon class="task-lists-navigation-menu-icon">visibility</mat-icon>
    <span class="task-lists-navigation-menu-text">视图</span>
  </div>
  <div class="task-lists-navigation-menu-container" (click)="handleSideNav(1)" [ngClass]="{'task-lists-navigation-opened': currentNavIndex === 1}">
    <mat-icon class="task-lists-navigation-menu-icon">menu</mat-icon>
    <span class="task-lists-navigation-menu-text">菜单</span>
  </div>
</div>
<div class="task-lists-content-container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" position="end">
      <app-task-filter-nav *ngIf="currentNavIndex === 0" (closeClicked)="closeSideNav()">
      </app-task-filter-nav>
      <app-project-menu-nav *ngIf="currentNavIndex === 1" (closeClicked)="closeSideNav()">
      </app-project-menu-nav>
    </mat-sidenav>
    <div class="task-lists" fxLayout="row" fxLayoutGap="20px">
      <app-task-list class="list-container" fxFlex="0 0 360px" *ngFor="let taskList of lists$ | async" [ngStyle]="{'order': taskList.order}"
        appDroppable [dropTags]="['task-item', 'task-list']" [dragEnterClass]="'drag-enter'" [appDraggable]="true" [dragTag]="'task-list'"
        [draggedClass]="'drag-start'" [dragData]="taskList" (dropped)="handleMove($event, taskList)">
        <app-task-list-header [header]="taskList.name" (newTask)="handleAddTask(taskList.id)" (changeListName)="handleRenameList(taskList)"
          (deleteList)="handleDelList(taskList)" (moveAllTasks)="handleMoveList(taskList.id)">
        </app-task-list-header>
        <app-quick-task (quickTask)="handleQuickTask($event, taskList.id)"></app-quick-task>
        <app-task-item *ngFor="let task of taskList.tasks" [item]="task" (taskComplete)="handleCompleteTask(task)" (taskClick)="handleUpdateTask(task)">
        </app-task-item>
      </app-task-list>
    </div>
  </mat-sidenav-container>
</div>

<button mat-fab (click)="handleNewTaskList($event)" type="button" class="fab-button">
  <mat-icon>add</mat-icon>
</button>
