<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <md-card class="card">
    <md-card-header>
      <md-card-title> 忘记密码：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput placeholder="注册时使用的电子邮箱" formControlName="email">
      </md-input-container>
      <button md-raised-button type="submit" [disabled]="!form.valid">找回密码</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户？ <a routerLink="/register">注册</a></p>
      <p>已有账户 <a routerLink="/login">登录</a></p>
    </md-card-actions>
  </md-card>
</form>
