.list-container {
  flex: 0 1 25%;
  background-color: #EEEEEE;
  border-radius: 3px;
  margin: 2px;
  overflow-y: scroll; 
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  overflow-x: scroll;
}