<div class="task-lists">
  <div
    [ngClass]="{
      'drag-enter': draggingStatus === 'enter',
      'drag-leave': draggingStatus === 'leave',
      'drop': draggingStatus === 'drop'
      }"
    *ngFor="let taskList of lists$ | async"
    class="list-container"
    (dragover)="onDragOver($event)"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop(taskList.id)">
    <app-task-list
      [list]="taskList"
      [darkTheme]="darkTheme"
      [tasks]="tasksByList(taskList.id) | async"
      [loading]="loading$ | async"
      (completeTask)="handleCompleteTask($event)"
      (renameList)="handleRenameList($event)"
      (delList)="handleDelList($event)"
      (moveList)="handleMoveList($event)"
      (dragTask)="handleDragTask($event)"
      (addTask)="handleAddTask($event)"
      (updateTask)=handleUpdateTask($event)>
    </app-task-list>
  </div>
</div>
<button md-fab (click)="handleNewTaskList($event)" type="button" class="fab-button">
  <md-icon>add</md-icon>
</button>
