<div class="task-lists">
  <div 
    class="list-container" 
    *ngFor="let taskList of lists$ | async" 
    draggable="true"
    (dragover)="onDragOver($event)"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (dragend)="onDragEnd($event)"
    (dragstart)="onDragStart($event, taskList)"
    (drop)="onDrop($event, taskList)"
    [ngStyle]="{'order': taskList.order}">
    <app-task-list [list]="taskList">
      
    </app-task-list>
  </div>
</div>
<button md-fab (click)="openNewTaskList($event)" type="button" class="fab-button">
  <md-icon>add</md-icon>
</button>
