.drag-start {
  opacity: 0.5;
  border: #ff525b dashed 2px;
}

.drag-enter {
  background-color: dimgray;
}

.drag-leave {
  background-color: inherit;
}

.drop {
  background-color: inherit;
}

.list-container {
  flex: 0 0 360px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.task-lists {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}

:host {
  width: 100%;
  height: 100%;
}
