<form [class]="classContainer" [formGroup]="form">
  <div class="task-filter-nav-header">
    <div [class]="classTitle">视图</div>
    <mat-icon class="task-filter-nav-close" (click)="onCloseClicked($event)">clear</mat-icon>
  </div>
  <div class="task-filter-nav-body">
    <div class="task-filter-nav-category-container">
      <div [class]="classCategoryHighlight" [matMenuTriggerFor]="sortMenu">
        <mat-icon class="task-filter-nav-category-header-icon">sort</mat-icon>
        <span class="task-filter-nav-category-header-title">{{getSortLabel()}}</span>
        <mat-icon class="task-filter-nav-category-header-end-icon">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="task-filter-nav-category-container">
      <div [class]="classCategoryHeader">
        <mat-icon class="task-filter-nav-category-header-icon">input</mat-icon>
        <span class="task-filter-nav-category-header-title">任务筛选</span>
        <span *ngIf="taskDesc" class="task-filter-nav-category-header-clear" (click)="onClearDesc($event)">清除筛选</span>
      </div>
      <div [class]="classCategoryInputContainer">
        <mat-form-field class="full-width">
          <input matInput placeholder="查找相关任务" formControlName="descFilter" autocomplete="off" />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="taskFilterVM.hasOwner" class="task-filter-nav-category-container">
      <div [class]="classCategoryHeader">执行者</div>
      <div [class]="classCategoryItem" *ngFor="let ownerVM of taskFilterVM.ownerVMs" (click)="onOwnerItemClicked($event, ownerVM)">
        <mat-icon class="task-filter-nav-category-item-avatar" [svgIcon]="getOwnerAvatar(ownerVM)"></mat-icon>
        <span>{{getOwnerName(ownerVM)}}</span>
        <mat-icon *ngIf="ownerVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
      </div>
      <div [class]="classCategoryDivider"></div>
    </div>
    <div *ngIf="taskFilterVM.hasDueDate" class="task-filter-nav-category-container">
      <div [class]="classCategoryHeader">截止时间</div>
      <div [class]="classCategoryItem" *ngFor="let dueDateVM of taskFilterVM.dueDateVMs" (click)="onDueDateItemClicked($event, dueDateVM)">
        <span>{{dueDateVM.label}}</span>
        <mat-icon *ngIf="dueDateVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
      </div>
      <div [class]="classCategoryDivider"></div>
    </div>
    <div *ngIf="taskFilterVM.hasCreateDate" class="task-filter-nav-category-container">
      <div [class]="classCategoryHeader">创建时间</div>
      <div [class]="classCategoryItemContainer" *ngFor="let createDateVM of taskFilterVM.createDateVMs" (click)="onCreateDateItemClicked($event, createDateVM)">
        <div [class]="classCategoryItem">
          <span>{{createDateVM.label}}</span>
          <mat-icon *ngIf="createDateVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
        </div>
        <div *ngIf="createDateVM.hasExtra && createDateVM.checked" class="task-filter-nav-category-extra-item">
          <span (click)="onStartCreateDateClicked($event)">{{getStartCreateDateDesc()}}</span>
          <span>-</span>
          <span (click)="onEndCreateDateClicked($event)">{{getEndCreateDateDesc()}}</span>

          <mat-form-field style="display: none;">
            <input matInput [matDatepicker]="startDatePicker" formControlName="startCreateDate">
            <mat-datepicker #startDatePicker touchUi="true" (selectedChanged)="onStartCreateDateChanged($event)"></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="display: none;">
            <input matInput [matDatepicker]="endDatePicker" formControlName="endCreateDate" style="display: none;">
            <mat-datepicker #endDatePicker touchUi="true" (selectedChanged)="onEndCreateDateChanged($event)"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div [class]="classCategoryDivider"></div>
    </div>
    <div *ngIf="taskFilterVM.hasPriority" class="task-filter-nav-category-container">
      <div [class]="classCategoryHeader">优先级</div>
      <div [class]="classCategoryItem" *ngFor="let priorityVM of taskFilterVM.priorityVMs" (click)="onPriorityItemClicked($event, priorityVM)">
        <span>{{priorityVM.label}}</span>
        <mat-icon *ngIf="priorityVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
      </div>
      <div [class]="classCategoryDivider"></div>
    </div>
    <div class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header task-filter-nav-category-header-colored-highlight" [matMenuTriggerFor]="editMenu">
        <mat-icon class="task-filter-nav-category-header-icon">add_circle</mat-icon>
        <span class="task-filter-nav-category-header-title">添加筛选</span>
      </div>
    </div>
  </div>
</form>

<mat-menu #editMenu="matMenu" xPosition="after" yPosition="above" [overlapTrigger]="false">
  <div [class]="classMenuHeader">
    <span class="task-filter-nav-menu-header-title" (click)="onEditFilterHeaderClicked($event)">添加筛选</span>
    <mat-icon class="task-filter-nav-menu-close" (click)="onEditFilterCloseClicked($event)">clear</mat-icon>
  </div>
  <div [class]="classCategoryDivider"></div>
  <div [class]="classEditMenuItem" *ngFor="let categoryVM of taskFilterVM.categoryVMs" (click)="onEditFilterItemClicked($event, categoryVM)">
    <span class="task-filter-nav-menu-item-desc">{{categoryVM.label}}</span>
    <mat-icon *ngIf="categoryVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
  </div>
</mat-menu>

<mat-menu #sortMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div [class]="classSortMenuItem" *ngFor="let sortVM of taskFilterVM.sortVMs" (click)="onSortItemClicked($event, sortVM)">
    <span class="task-filter-nav-menu-item-desc">{{sortVM.label}}</span>
    <mat-icon *ngIf="sortVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
  </div>
  <div [class]="classCategoryDivider"></div>
  <div [class]="classSortMenuItem" (click)="onSaveSortItemClicked($event)">
    <span class="task-filter-nav-menu-item-colored-desc">保存为项目默认排序</span>
  </div>
</mat-menu>
