.task-filter-nav-container {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border-left: 1px solid #D9D9D9;
  // box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}

.task-filter-nav-header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.task-filter-nav-title {
  margin: 0 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #D1D1D1;
  color: #383838;
}

.task-filter-nav-close {
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 50px;
  color: #A6A6A6;
  cursor: pointer;
}

.task-filter-nav-close:hover {
  color: #3da8f5;
}

.task-filter-nav-body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.task-filter-nav-category-container {
  padding: 6px 0 4px;
}

.task-filter-nav-category-header {
  height: 40px;
  line-height: 40px;
  position: relative;
  color: #383838;
  font-size: 14px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
}

.task-filter-nav-category-header-highlight {
  cursor: pointer;
}

.task-filter-nav-category-header-highlight:hover {
  color: #3da8f5;
}

.task-filter-nav-category-header-colored-highlight {
  color: #3da8f5;
  cursor: pointer;
}

.task-filter-nav-category-header-colored-highlight:hover {
  color: #0C92F3;
}

.task-filter-nav-category-header-icon {
  font-size: 18px;
  line-height: 40px;
  // color: #808080;
}

.task-filter-nav-category-header-end-icon {
  font-size: 18px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 15px;
}

.task-filter-nav-category-header-title {
  margin-left: 0px;
}

.task-filter-nav-category-header-clear {
  flex: 1;
  text-align: end;
  color: #3da8f5;
  cursor: pointer;
}

.task-filter-nav-category-divider {
  margin: 0 15px;
  border-bottom: 1px solid #EEEEEE;
}

.task-filter-nav-category-item {
  height: 40px;
  // line-height: 40px;
  position: relative;
  color: #808080;
  font-size: 14px;
  padding-left:  15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.task-filter-nav-category-item:hover {
  background: #EEEEEE;
}

.task-filter-nav-category-item-selected {
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 40px;
  color: #A6A6A6;
  font-size: 18px;
}

.task-filter-nav-category-input-container {
  padding: 0 15px;
  height: 40px;
  font-size: 14px;
  color: #383838;
}

.task-filter-nav-category-item-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.task-filter-nav-edit-item {
  width: 250px;
}
