<form class="task-filter-nav-container" [formGroup]="form">
  <div class="task-filter-nav-header">
    <div class="task-filter-nav-title">视图</div>
    <mat-icon class="task-filter-nav-close" (click)="onCloseClicked($event)">clear</mat-icon>
  </div>
  <div class="task-filter-nav-body">
    <div class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header task-filter-nav-category-header-highlight" [matMenuTriggerFor]="sortMenu">
        <mat-icon class="task-filter-nav-category-header-icon">sort</mat-icon>
        <span class="task-filter-nav-category-header-title">{{getSortLabel()}}</span>
        <mat-icon class="task-filter-nav-category-header-end-icon">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header">
        <mat-icon class="task-filter-nav-category-header-icon">input</mat-icon>
        <span class="task-filter-nav-category-header-title">任务筛选</span>
        <span *ngIf="taskDesc" class="task-filter-nav-category-header-clear" (click)="onClearDesc($event)">清除筛选</span>
      </div>
      <div class="task-filter-nav-category-input-container">
        <mat-form-field class="full-width">
          <input matInput placeholder="查找相关任务" formControlName="descFilter" autocomplete="off" />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="taskFilterVM.hasOwner" class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header">执行者</div>
      <div class="task-filter-nav-category-item" *ngFor="let ownerVM of taskFilterVM.ownerVMs" (click)="onOwnerItemClicked($event, ownerVM)">
        <mat-icon class="task-filter-nav-category-item-avatar" [svgIcon]="getOwnerAvatar(ownerVM)"></mat-icon>
        <span>{{getOwnerName(ownerVM)}}</span>
        <mat-icon *ngIf="ownerVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
      </div>
      <div class="task-filter-nav-category-divider"></div>
    </div>
    <div *ngIf="taskFilterVM.hasDueDate" class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header">截止时间</div>
      <div class="task-filter-nav-category-item" *ngFor="let dueDateVM of taskFilterVM.dueDateVMs" (click)="onDueDateItemClicked($event, dueDateVM)">
        <span>{{dueDateVM.label}}</span>
        <mat-icon *ngIf="dueDateVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
      </div>
      <div class="task-filter-nav-category-divider"></div>
    </div>
    <div *ngIf="taskFilterVM.hasPriority" class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header">优先级</div>
      <div class="task-filter-nav-category-item" *ngFor="let priorityVM of taskFilterVM.priorityVMs" (click)="onPriorityItemClicked($event, priorityVM)">
        <span>{{priorityVM.label}}</span>
        <mat-icon *ngIf="priorityVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
      </div>
      <div class="task-filter-nav-category-divider"></div>
    </div>
    <div class="task-filter-nav-category-container">
      <div class="task-filter-nav-category-header task-filter-nav-category-header-colored-highlight" [matMenuTriggerFor]="menu">
        <mat-icon class="task-filter-nav-category-header-icon">add_circle</mat-icon>
        <span class="task-filter-nav-category-header-title">添加筛选</span>
      </div>
    </div>
  </div>
</form>

<mat-menu #menu="matMenu" xPosition="after" yPosition="above" [overlapTrigger]="false">
  <div class="task-filter-nav-menu-header">
    <span class="task-filter-nav-menu-header-title" (click)="onEditFilterHeaderClicked($event)">添加筛选</span>
    <mat-icon class="task-filter-nav-menu-close" (click)="onEditFilterCloseClicked($event)">clear</mat-icon>
  </div>
  <div class="task-filter-nav-category-divider"></div>
  <div class="task-filter-nav-menu-item task-filter-nav-edit-menu-width" *ngFor="let categoryVM of taskFilterVM.categoryVMs"
    (click)="onEditFilterItemClicked($event, categoryVM)">
    <span class="task-filter-nav-menu-item-desc">{{categoryVM.label}}</span>
    <mat-icon *ngIf="categoryVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
  </div>
</mat-menu>

<mat-menu #sortMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="task-filter-nav-menu-item task-filter-nav-sort-menu-width" *ngFor="let sortVM of taskFilterVM.sortVMs" (click)="onSortItemClicked($event, sortVM)">
    <span class="task-filter-nav-menu-item-desc">{{sortVM.label}}</span>
    <mat-icon *ngIf="sortVM.checked" class="task-filter-nav-category-item-selected">check</mat-icon>
  </div>
  <div class="task-filter-nav-category-divider"></div>
  <div class="task-filter-nav-menu-item task-filter-nav-sort-menu-width" (click)="onSaveSortItemClicked($event)">
    <span class="task-filter-nav-menu-item-colored-desc">保存为项目默认排序</span>
  </div>
</mat-menu>
