.material-icon {
  line-height: 32px;
}

.header-label {

}

.middle-btn {
  flex: 1;
}

.right-btn {

}

.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 100%;
}
