<h3 md-subheader>{{header}}</h3>
<button md-button class="fill-remaining-space" type="button" (click)="addNewTask($event)">
  <md-icon>add_circle_outline</md-icon>
  <span>新任务</span>
</button>
<button md-icon-button type="button" [mdMenuTriggerFor]="menu">  
  <md-icon>keyboard_arrow_down</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item (click)="onChangeListName($event)"> 
    <md-icon>mode_edit</md-icon>
    <span> 修改列表名称 </span> 
  </button>
  <md-divider></md-divider>
  <button md-menu-item (click)="onMoveAllTasks($event)"> 
    <md-icon svgIcon="move" class="material-icon">content_copy</md-icon>
    <span> 移动本列表所有任务 </span>
  </button>  
  <md-divider></md-divider>
  <button md-menu-item (click)="onDeleteList($event)"> 
    <md-icon>delete_forever</md-icon>
    <span> 删除列表 </span>
  </button>
</md-menu>