<footer class="page-footer blue center-on-small-only">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h5 class="title">每日名言</h5>
        <blockquote class="blockquote">
          <p>
            幸福生活的关键是要接受你永远无法真正掌控一切的现实。
          </p>
          <p class="text-muted text-right">
            --电影《侏罗纪公园》
          </p>
        </blockquote>
      </div>
      <div class="col-md-6">
        <h5 class="title">Angular 学习链接</h5>
        <ul>
          <li><a href="https://angular.cn"> Angular 官方中文站</a></li>
          <li><a href="http://www.jianshu.com/p/9af9f203e0b1">Angular 从0到1</a></li>
          <li><a href="https://item.jd.com/12059091.html">《Angular从零到一》 纸书</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      &copy; 2017 版权所有: 接灰的电子产品
    </div>
  </div>
</footer>