<div>
  <span>选择封面：</span><img class="cover" [src]="selected">
</div>
<div class="scroll-container">
  <md-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <md-grid-tile *ngFor="let item of items; let i = index;">
      <div class="image-container" (click)="onChange(i)">
        <img 
          [src]="item" 
          [ngStyle]="{'width': itemWidth }" >
        <div class="after">
          <span class="zoom">
            <md-icon>checked</md-icon>
          </span>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>