<div>
  <span>{{title}}</span>
  <md-icon class="avatar" [svgIcon]="selected" *ngIf="useSvgIcon else imgSelected"></md-icon>
</div>
<div class="scroll-container">
  <md-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <md-grid-tile *ngFor="let item of items; let i = index;">
      <div class="image-container" (click)="onChange(i)">
        <md-icon class="avatar" [svgIcon]="item" *ngIf="useSvgIcon else imgItem"></md-icon>
        <div class="after">
          <span class="zoom">
            <md-icon>checked</md-icon>
          </span>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>

<ng-template #imgSelected>
  <img class="cover" [src]="selected">
</ng-template>
<ng-template #imgItem>
  <img [src]="item" [ngStyle]="{'width': itemWidth }">
</ng-template>
