<div class="task-history-container">
  <div [class]="classHeader">
    <div class="task-history-header-title">项目动态</div>
    <mat-icon class="task-history-close" (click)="closeTaskHistoryDialog()">clear</mat-icon>
    <div [class]="classDivider"></div>
  </div>
  <div class="task-history-body">
    <div *ngIf="taskHistoryVMs.length > 0 else empty" class="task-history-data-container">
      <app-task-history-dialog-item *ngFor="let taskHistoryVM of taskHistoryVMs" [taskHistoryVM]="taskHistoryVM" (itemClicked)="openTaskDialog(taskHistoryVM.taskId)">
      </app-task-history-dialog-item>
    </div>
    <ng-template #empty>
      <div class="task-history-empty-container">
        <mat-icon class="task-history-empty-icon">launch</mat-icon>
        <span class="task-history-empty-desc ">抱歉，没有更多</span>
      </div>
    </ng-template>
  </div>
</div>
