<md-sidenav-container [class.myapp-dark-theme]="dark$ | async">
  <md-sidenav #sidenav mode="push">
    <app-sidebar (navClicked)="sidenav.close()"></app-sidebar>
  </md-sidenav>
  <div class="site">
    <header>
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchDarkTheme($event)"></app-header>
    </header>
    <main>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>