<div class="task-list-container">
  <div [class]="classHeader">
    <div class="task-list-header-title">{{title}}</div>
    <mat-icon class="task-list-close" (click)="closeTaskListDialog()">clear</mat-icon>
    <div [class]="classDivider"></div>
  </div>
  <div class="task-list-body">
    <div *ngIf="taskVMs.length > 0 else empty" class="task-list-data-container">
      <div *ngFor="let taskVM of taskVMs">
        <app-task-list-dialog-item [taskVM]="taskVM" (taskComplete)="completeTask(taskVM)" (itemClicked)="openTaskDialog(taskVM)">
        </app-task-list-dialog-item>
        <div [class]="classDivider"></div>
      </div>
    </div>
    <ng-template #empty>
      <div class="task-list-empty-container">
        <mat-icon class="task-list-empty-icon">launch</mat-icon>
        <span class="task-list-empty-desc ">目前还没有任务</span>
      </div>
    </ng-template>
  </div>
</div>
