// Import theming functions
@import '~@angular/material/theming';

.dialog-title {
  color: mat-color($my-app-primary);
}

.chip {
  margin-top: 5px;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 20px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.hide {
  display: none;
}
