<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)" novalidate>
  <span md-dialog-title>{{dialogTitle}}</span>
  <div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="任务内容" formControlName="desc">
    </md-input-container>
    <md-radio-group class="full-width" formControlName="priority">
      <md-radio-button *ngFor="let priorityItem of priorities" [value]="priorityItem.value">
        {{priorityItem.label}}
      </md-radio-button>
    </md-radio-group>
    <div class="full-width">
      <span>执行者：</span>
      <div class="chip" *ngFor="let owner of owners">
        <img src="/assets/img/developer.png" alt="Person" width="64" height="64">
        {{owner.name}}
        <span class="closebtn" (click)="removeOwner(owner)" >&times;</span>
      </div>
      <md-input-container class="full-width" [ngClass]="{'hide': owners.length>0}">
        <input mdInput 
          placeholder="更改执行者" 
          formControlName="ownerSearch" 
          [mdAutocomplete]="assignee">
      </md-input-container>
    </div>  
    <md-input-container class="full-width">
      <input mdInput 
        [mdDatepicker]="dueDatePicker" 
        placeholder="选择截止日期" 
        formControlName="dueDate">
      <button mdSuffix [mdDatepickerToggle]="dueDatePicker" type="button"></button>
    </md-input-container>
    <md-datepicker touchUi="true" #dueDatePicker></md-datepicker>
    <md-input-container class="full-width">
      <input mdInput 
        [mdDatepicker]="reminderPicker" 
        placeholder="选择提醒日期" 
        formControlName="reminder">
      <button mdSuffix [mdDatepickerToggle]="reminderPicker" type="button"></button>
    </md-input-container>
    <md-datepicker touchUi="true" #reminderPicker></md-datepicker>

    <div class="full-width">
      <span>参与者：</span>
      <md-chip-list>
        <md-chip color="primary" selected="true" *ngFor="let follower of followers">
          {{follower.name}}  <span (click)="removeFollower(follower)" class="remove-tag">x</span>
        </md-chip>
      </md-chip-list>
      <md-input-container class="full-width">
        <input mdInput placeholder="添加参与者" formControlName="followerSearch" [mdAutocomplete]="autoFollower">
      </md-input-container>
    </div>
    
    <md-input-container class="full-width">
      <textarea mdInput placeholder="备注" formControlName="remark"></textarea>
    </md-input-container>

    <!--<div class="full-width">
      <span>标签：</span>
      <md-chip-list>
        <md-chip color="primary" selected="true" *ngFor="let tag of tags">
          {{tag}}  <span (click)="removeTag($event, tag)" class="remove-tag">x</span>
        </md-chip>
      </md-chip-list>
      <md-input-container class="full-width">
        <input mdInput 
          placeholder="添加标签" 
          formControlName="tagsInput" 
          (keyup.enter)="addTag($event)">
      </md-input-container>
    </div>-->
  </div>
  <div md-dialog-actions>
    <button md-raised-button 
      color="primary" 
      type="submit" 
      [disabled]="!form.valid">
      保存
    </button>
    <button md-dialog-close md-raised-button type="button">关闭</button>
  </div>
</form>
<md-autocomplete #assignee="mdAutocomplete" [displayWith]="displayUser">
  <md-option 
    *ngFor="let item of ownerResults | async" 
    [value]="item" 
    (onSelectionChange)="handleAssigneeSelection(item)">
    {{item.name}}
  </md-option>
</md-autocomplete>

<md-autocomplete #autoFollower="mdAutocomplete" [displayWith]="displayUser">
  <md-option 
    *ngFor="let item of followerResults | async" 
    [value]="item" 
    (onSelectionChange)="handleFollowerSelection(item)">
    {{item.name}}
  </md-option>
</md-autocomplete>