<div [class]="classItem" (click)="onItemClicked($event)">
  <mat-icon [class]="classItemAvatar" [svgIcon]="taskHistoryVM.icon"></mat-icon>
  <div [class]="classItemContent">
    <div class="task-history-item-desc">
      <span class="task-history-item-desc-name">{{taskHistoryVM.name}}</span>
      <span class="task-history-item-desc-gap">{{taskHistoryVM.title}}</span>
      <span>{{taskHistoryVM.content}}</span>
    </div>
    <span class="task-history-item-date">{{taskHistoryVM.dateDesc}}</span>
  </div>

</div>
