.task-history-item,
.task-history-item-dark {
  color: #383838;
  font-size: 14px;
  padding: 10px 15px 0 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.task-history-item-dark {
  color: #C1C1C1;
}

.task-history-item:hover {
  background: #EEEEEE;
}

.task-history-item-dark:hover {
  background: #494949;
}

.task-history-item-avatar,
.task-history-item-avatar-dark {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  color: #808080;
}

.task-history-item-avatar-dark {
  color: #C1C1C1;
}

.task-history-item-content,
.task-history-item-content-dark {
  flex: 1;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
}

.task-history-item-content-dark {
  border-bottom: 1px solid #494949;
}

.task-history-item-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.task-history-item-desc-name {
  font-weight: bold;
}

.task-history-item-desc-gap {
  margin: 0 5px;
}

.task-history-item-date {
  margin-top: 10px;
  font-size: 12px;
  color: #808080;
}
