<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <div class="container">
    <button 
      class="navbar-toggler navbar-toggler-right" 
      type="button" 
      data-toggle="collapse" 
      data-target="#collapseMenu" 
      aria-controls="collapseMenu"
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
      <strong>Awesome Todos</strong>
    </a>

    <div class="collapse navbar-collapse" id="collapseMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/todos" >Todos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my">My</a>
        </li>
      </ul>
      <div>
        <a class="nav-link" *ngIf="(auth$|async).user" (click)="logout()">退出</a>
      </div>
      <!--<form class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" placeholder="Search">
      </form>-->
    </div>
  </div>
</nav>