<header>
  <!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary fixed-top">
    <div class="container">
      <!-- Collapse button-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Navbar Brand-->
      <a class="navbar-brand" href="#">
        <strong>Awesome Todos</strong>
      </a>

      <div class="collapse navbar-collapse" id="collapseEx2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Pricing</a>
          </li>
          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline waves-effect waves-light">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </div>
  </nav>
  <!--/.Navbar-->
</header>