.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 20rem;
}

.text-right {
  margin: 10px;
  text-align: end;
}

.host {
  display: block;
}
