<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <md-card class="card">
    <md-card-header>
      <md-card-title> 登录：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的Email" formControlName="email">
        <md-error>用户名是必填项哦</md-error>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码" formControlName="password">
        <md-error>密码不正确哦</md-error>
      </md-input-container>
      <button md-raised-button type="submit" [disabled]="!form.valid">登录</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户？ <a routerLink="/register">注册</a></p>
      <p>忘记 <a routerLink="/forgot">密码？</a></p>
    </md-card-actions>
  </md-card>
  <md-card class="card">
    <md-card-header>
      <md-card-title> 佳句</md-card-title>
      <md-card-subtitle>
        {{(quote$ | async)?.cn}}
      </md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="(quote$ | async)?.pic">
    <md-card-content>
      <p> {{(quote$ | async)?.en}}</p>
    </md-card-content>
  </md-card>
</form>
