<div class="task-list-container">
  <div class="task-list-header">
    <div>带认领的任务</div>
  </div>
  <div class="task-list-body">
    DEVELOP ACROSS ALL PLATFORMS Learn one way to build applications with Angular and reuse your code and abilities to build
    apps for any deployment target. For web, mobile web, native mobile and native desktop. SPEED & PERFORMANCE Achieve the
    maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering. Angular
    puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another
    push-model. INCREDIBLE TOOLING Build features quickly with simple, declarative templates. Extend the template language
    with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback
    with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying
    to make the code work. LOVED BY MILLIONS From prototype through global deployment, Angular delivers the productivity
    and scalable infrastructure that supports Google's largest applications. DEVELOP ACROSS ALL PLATFORMS Learn one way to
    build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile
    web, native mobile and native desktop. SPEED & PERFORMANCE Achieve the maximum speed possible on the Web Platform today,
    and take it further, via Web Workers and server-side rendering. Angular puts you in control over scalability. Meet huge
    data requirements by building data models on RxJS, Immutable.js or another push-model. INCREDIBLE TOOLING Build features
    quickly with simple, declarative templates. Extend the template language with your own components and use a wide array
    of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes
    together so you can focus on building amazing apps rather than trying to make the code work. LOVED BY MILLIONS From prototype
    through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest
    applications. Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
    deployment target. For web, mobile web, native mobile and native desktop. SPEED & PERFORMANCE Achieve the maximum speed
    possible on the Web Platform today, and take it further, via Web Workers and server-side rendering. Angular puts you
    in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.
    INCREDIBLE TOOLING Build features quickly with simple, declarative templates. Extend the template language with your
    own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly
    every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the
    code work. LOVED BY MILLIONS From prototype through global deployment, Angular delivers the productivity and scalable
    infrastructure that supports Google's largest applications.
  </div>
</div>
