<div [class]="classItem" (click)="onItemClicked($event)">
  <div class="task-list-item-priority" [@priority]="animState" [ngClass]="{
      'task-list-item-priority-normal': taskVM.priority === 3,
      'task-list-item-priority-important': taskVM.priority === 2,
      'task-list-item-priority-emergency': taskVM.priority === 1}"></div>
  <mat-checkbox (click)="onCheckboxClicked($event)"></mat-checkbox>
  <mat-icon [class]="classItemAvatar" [svgIcon]="getOwnerAvatar(taskVM)"></mat-icon>
  <span>{{taskVM.desc}}</span>
  <span class="fill-remaining-space"></span>
  <div *ngIf="taskVM.dueDate" class="task-list-item-date-container" [ngClass]="{
    'task-list-item-date-past-background': isPastDate(taskVM.dueDate),
    'task-list-item-date-today-background': isTodayDate(taskVM.dueDate),
    'task-list-item-date-future-background': isFutureDate(taskVM.dueDate)}">
    <mat-icon class="task-list-item-date-icon">today</mat-icon>
    <span>{{getDateDesc(taskVM.dueDate)}}</span>
  </div>
</div>
