<div class="project-menu-nav-container">
  <div class="project-menu-nav-header">
    <div class="project-menu-nav-title">项目菜单</div>
    <mat-icon class="project-menu-nav-close" (click)="onCloseClicked($event)">clear</mat-icon>
  </div>
  <div class="project-menu-nav-body">
    <div class="project-menu-nav-category-container">
      <div class="project-menu-nav-category-clicked-header" (click)="openProjectDialog()">
        <mat-icon class="project-menu-nav-category-header-icon">settings</mat-icon>
        <span class="project-menu-nav-category-header-title">项目设置</span>
      </div>
    </div>
    <div class="project-menu-nav-category-container">
      <div class="project-menu-nav-category-header">
        <mat-icon class="project-menu-nav-category-header-icon">alarm</mat-icon>
        <span class="project-menu-nav-category-header-title">任务统计</span>
      </div>
      <div class="project-menu-nav-statistics-container">
        <div class="project-menu-nav-statistics-item" (click)="openUnassignedTaskDialog()">
          <span>待认领的任务</span>
          <span class="project-menu-nav-statistics-unassigned-number">{{unassignedNumber}}</span>
        </div>
        <div class="project-menu-nav-statistics-item" (click)="openTodayTaskDialog()">
          <span>今天的事</span>
          <span class="project-menu-nav-statistics-today-number">{{todayNumber}}</span>
        </div>
      </div>
      <div class="project-menu-nav-divider"></div>
    </div>
    <div class="project-menu-nav-category-container">
      <div class="project-menu-nav-category-header">
        <mat-icon class="project-menu-nav-category-header-icon">sort</mat-icon>
        <span class="project-menu-nav-category-header-title">项目动态</span>
      </div>
      <app-task-history-dialog-item *ngFor="let taskHistoryVM of projectTaskHistoryVMs" [item]="taskHistoryVM">
      </app-task-history-dialog-item>
    </div>
    <div class="project-menu-nav-category-container">
      <div class="project-menu-nav-category-clicked-header">
        <mat-icon class="project-menu-nav-category-header-icon">more_horiz</mat-icon>
        <span class="project-menu-nav-category-header-title">查看所有项目动态</span>
      </div>
    </div>
  </div>
</div>
