.project-menu-nav-container {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border-left: 1px solid #D9D9D9;
}

.project-menu-nav-header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.project-menu-nav-title {
  margin: 0 15px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #D1D1D1;
  color: #383838;
}

.project-menu-nav-close {
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 50px;
  color: #A6A6A6;
  cursor: pointer;
}

.project-menu-nav-body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.project-menu-nav-category-container {
  padding: 6px 0 4px;
}

.project-menu-nav-category-header, .project-menu-nav-category-clicked-header{
  height: 40px;
  line-height: 40px;
  position: relative;
  color: #383838;
  font-size: 15px;
  font-weight: bold;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
}

.project-menu-nav-category-clicked-header {
  cursor: pointer;
}

.project-menu-nav-category-clicked-header:hover {
  background: #EEEEEE;
}

.project-menu-nav-category-header-icon {
  font-size: 18px;
  line-height: 40px;
  color: #808080;
}

.project-menu-nav-category-header-title {
  margin-left: 5px;
}

.project-menu-nav-divider {
  margin: 5px 15px 0 45px;
  border-bottom: 1px solid #EEEEEE;
}

.project-menu-nav-statistics-container {
  height: 58px;
  margin: 0 15px 0 40px;
  display: flex;
  flex-direction: row;
}

.project-menu-nav-statistics-item {
  flex: 1;
  font-size: 14px;
  padding: 5px 0 0 5px;
  border-radius: 2px;
  color: #383838;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-menu-nav-statistics-item:hover {
  background: #EEEEEE;
}

.project-menu-nav-statistics-unassigned-number {
  color: #7FD112;
  font-size: 24px;
}

.project-menu-nav-statistics-today-number {
  color: #FF9800;
  font-size: 24px;
}

.project-menu-nav-chart-container {
  margin: 0 0 15px 40px;
}

.project-menu-nav-chart-header {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #383838;
}

.project-menu-nav-chart-body {
  height: 95px;
  width: 290px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.project-menu-nav-chart-content {
  position: absolute;
  left: -20px;
  bottom: -15px;
}
