<div>
  <span>{{title}}</span>
  <mat-icon class="avatar" [svgIcon]="selected" *ngIf="useSvgIcon else imgSelected"></mat-icon>
  <ng-template #imgSelected>
    <img class="cover" [src]="selected">
  </ng-template>
</div>
<div class="scroll-container">
  <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let item of items; let i = index;">
      <div class="image-container" (click)="onChange(i)">
        <mat-icon class="avatar" [svgIcon]="item" *ngIf="useSvgIcon else imgItem"></mat-icon>
        <ng-template #imgItem>
          <img [src]="item" [ngStyle]="{'width': itemWidth }">
        </ng-template>
        <div class="after">
          <span class="zoom">
            <mat-icon>checked</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
