@import 'theme.scss';

html, body, app-root, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.site {
  width: 100%;
  min-height: 100%;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}
