@import 'theme.scss';

html, body, app-root, md-sidenav-container, .site {
  margin: 0;
  width: 100%;
  height: 100%;
}

.site{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

.content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  font-size: 10px;
  border-radius: 5px;
  color: #A6A6A6;
  border: 1px solid #A6A6A6;
  background-color: #fff;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

@mixin avatar($size) {
    width: $size;
    height: $size;
    background-color: mat-color($my-app-primary);
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    .initials {
      position: relative;
      top: $size*0.25;
      font-size: $size*0.5;
      line-height: $size*0.5;
      color: #fff;
      font-family: "Courier New", monospace;
      font-weight: bold;
    }
}

.avatar-circle      { @include avatar(42px); }
.avatar-circle-sm   { @include avatar(32px); }
.avatar-circle-lg   { @include avatar(250px); }
