<md-list-item
  class="container"
  [@item]="widerPriority"
  [app-draggable]="true"
  [dragTag]="'task-item'"
  [draggedClass]="'drag-start'"
  [dragData]="item"
  [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority === 2,
    'priority-emergency': item.priority === 1}">

  <div md-line class="content">
    <md-checkbox class="status" [checked]="item.completed" (change)="checkboxChanged()">
    </md-checkbox>
    <span (click)="itemClicked($event)" class="desc" [ngClass]="{'completed': item.completed}">
      {{item.desc}}
    </span>
  </div>
  <div md-line class="bottom-bar" (click)="itemClicked($event)">
    <span class="duedate" *ngIf="item.dueDate">{{item.dueDate | date:"yy-MM-dd"}}</span>
    <md-icon *ngIf="item.reminder" class="alarm">alarm</md-icon>
  </div>
  <md-icon md-list-avatar class="avatar" [svgIcon]="avatar" (click)="itemClicked($event)"></md-icon>

</md-list-item>
