.priority{
  width: 3px;
  margin-right: 5px;
}

.priority-big{
  width: 5px;
}

.priority-normal{
  background-color: #A6A6A6;
}

.priority-important{
  background-color: #FFAF38;
}

.priority-emergency{
  background-color: red;
}

.checkbox-section{
  border: 0px solid #A6A6A6;
}

.initial {
  align-self: center;
}

.bottom-bar{
  font-size: 10px;
}

.content{
  margin-left: 5px;
  margin-bottom: 2px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
}

.desc{
  min-height: 30px;
  font-size: 16px;
}

.duedate{
  background-color: #FF4F3E;
  color: #fff;
  padding: 2px;
}

:host {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}