.completed{
  opacity: 0.64;
  color: #d9d9d9;
  text-decoration: line-through;
}

.priority-normal{
  border-left: 3px solid #A6A6A6;
}

.priority-important{
  border-left: 3px solid #FFAF38;
}

.priority-emergency{
  border-left: 3px solid red;
}

.checkbox-section{
  border: 0px solid #A6A6A6;
}

.bottom-bar{
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 10px;
  width: 100%;
  order: 1;
}

.avatar-right{
  order: 3;
}

.duedate{
  background-color: #FF4F3E;
  color: #fff;
}

.alarm{
  font-size: 18px;
}

.desc{
  white-space: normal;
}

.main {
  width: 100%;
  padding: 5px;
}

.content{
  order: 1;
}

.container {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.drag-start{
  opacity: 0.5;
  border: #ff525b dashed 2px;
}

.drag-end{
  opacity: 1;
  border: none;
}

:host {
  width: 100%;
}