<md-list-item
  class="container"
  [@item]="widerPriority"
  [app-draggable]="true"
  [dragTag]="'task-item'"
  [draggedClass]="'drag-start'"
  [dragData]="item"
  [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority === 2,
    'priority-emergency': item.priority === 1}"
  (click)="itemClicked($event)">
  <md-checkbox
    class="status"
    [checked]="item.completed"
    (click)="onCheckboxClick($event)"
    (change)="checkboxChanged()">
  </md-checkbox>
  <div md-line [md-tooltip]="item.desc" class="content" [ngClass]="{'completed': item.completed}">
    {{item.desc}}
  </div>
  <div md-line class="bottom-bar">
    <span class="duedate" *ngIf="item.dueDate">{{item.dueDate | date:"yy-MM-dd"}}</span>
    <md-icon *ngIf="item.reminder" class="alarm">alarm</md-icon>
  </div>
  <md-icon md-list-avatar class="avatar" [svgIcon]="avatar"></md-icon>

</md-list-item>
