  <md-list>
    <app-task-list-header 
      [header]="list.name"
      (changeListName)="onChangeListName(list)"
      (deleteList)="onDeleteList()"
      (addListAfter)="onAddListAfter()"
      (copyAllTasks)="onCopyAllTasks()"
      (moveAllTasks)="onMoveAllTasks()">
    </app-task-list-header>
    <md-divider></md-divider>
    <md-progress-bar 
      color="primary" 
      mode="indeterminate" 
      *ngIf="loading$ | async else listItems">
    </md-progress-bar>
  </md-list>
  <ng-template #listItems>
    <md-list-item>
      <button md-button type="button" (click)="addNewTask($event)">
        <md-icon>add_circle_outline</md-icon>
        <span>添加新任务</span>
      </button>
    </md-list-item>
    <md-divider></md-divider>
    <app-task-item  
      *ngFor="let task of tasks$ | async"
      md-line
      [item]="task" 
      (taskComplete)="onTaskComplete()" 
      (taskClick)="onTaskClick(task)">
    </app-task-item>
  </ng-template>