  <md-list>
    <app-task-list-header 
      [header]="list.name"
      (newTask)="addNewTask()"
      (changeListName)="onChangeListName()"
      (deleteList)="onDeleteList()"
      (moveAllTasks)="onMoveAllTasks()">
    </app-task-list-header>
    <md-divider></md-divider>
    <md-progress-bar 
      color="primary" 
      mode="indeterminate" 
      *ngIf="loading else listItems">
    </md-progress-bar>
  </md-list>
  <ng-template #listItems>
    <md-divider></md-divider>
    <app-task-item  
      *ngFor="let task of tasks"
      md-line
      [item]="task" 
      (taskComplete)="onTaskComplete(task)" 
      (taskClick)="onTaskClick(task)"
      (draggingTaskId)="handleDragging($event)">
    </app-task-item>
  </ng-template>